@font-face {
  font-family: Ubuntu, Arial;
  src: url(../assets/font/Ubuntu-R.ttf);
}

@font-face {
  font-family: Ubuntu-Light, Arial;
  src: url(../assets/font/Ubuntu-L.ttf);
}


* {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Roboto;
  font-size: 1em;
  overflow-x: hidden;
}

h1 {
  text-transform: uppercase;
  color: #00458d;
  font-size: 6em;
  font-weight: 600;
  font-size: 2.8vw;
}

p {
  margin-top: 2rem;
  font-size: 2em
}

label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 100%;
  color: black;
  border: none;
  font-size: 1.2em;
  line-height: 2;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

input[type=checkbox] {
  display: none;
  height: 100%;
  margin-left: auto;
}

span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 0.5em;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 2em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

input[type=checkbox]:checked+span {
  -webkit-animation: slide-in-down ease-in-out 0.5s;
  animation: slide-in-down ease-in-out 0.5s;
}

.container {
  display: grid;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding: 3rem;
  color: rgb(31, 31, 31);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
  padding-left: 21vw;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@-moz-document url-prefix() {
  .container {
    position: relative;
  }
}

#legenda polygon, #legenda g {
  -webkit-animation: rotate 1.7s;
  animation: rotate 1.7s;
}

#legenda .cls-6 {
  opacity: 0;
  -webkit-animation: opacity 1.5s forwards;
  animation: opacity 1.5s forwards;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.container__radarChart {
  width: 54vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 7vw;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

.container__radarChart.catagory {
  position: absolute;
  height: 120%;
  padding: 0;
  margin-left: -11px;
  margin-top: -12px;
}

@-moz-document url-prefix() {
  .container__radarChart.catagory {
    margin-left: -22px;
    margin-top: -27px;
  }
}

.container__text {
  display: grid;
  height: 92vh;
  grid-row-gap: 2em;
  overflow: hidden;
}

.bedrijven {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 17px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -34px;
  height: 78vh;
}

.bedrijven ul {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.bedrijven ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4em;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.bedrijven ul li:hover {
  cursor: hand;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
}

.bedrijven ul li label {
  padding-left: 1em;
}

.bedrijven ul li label:hover {
  cursor: hand;
  cursor: pointer;
}

.bedrijven ul li img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: left;
  overflow: hidden;
  width: 8em;
  height: 90%;
  -o-object-fit: contain;
  object-fit: contain;
  border-right: solid 1px rgba(249, 249, 249, 0.79);
}

.legenda__color{
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}


.container__selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  z-index: 2;
}

.container__selection ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.container__selection ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.container__selection ul li:nth-of-type(2) {
  border-left: solid 1px rgba(0, 0, 0, 0.14);
}

.container__selection ul li button {
  border: none;
  height: 100%;
  width: 100%;
  font-size: 1.5em;
  background-color: rgb(242, 242, 242);
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container__selection ul li:hover {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.bedrijven__bedrijven-selectie {
  max-height: 100%;
  display: none;
}

.bedrijven__bedrijven-selectie li {
  -webkit-animation: slide-in-up 1s ease-in;
  animation: slide-in-up 1s ease-in;
}

.tool-tip {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  ;
  position: relative;
}

.tool-tip-text {
  visibility: hidden;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.5rem;
  font-size: 1.5em;
  background-color: black;
  color: white;
  position: absolute;
  top: -150%;
  left: -4.5em;
  width: 5em;
  height: auto;
  -webkit-transition: all 0.5s;
  -webkit-transition: all 2s;
  transition: all 0.5s;
  pointer-events: none;
}

.tool-tip:hover .tool-tip-text {
  visibility: visible;
  opacity: 1;
}

.partner-platinum, .partner-gold, .partner-silver, .partner-bronze {
  font-size: 0.7em;
}

.partner-platinum:before {
  content: '1';
}

.partner-gold:before {
  content: '2';
}

.partner-silver:before {
  content: '3';
}

.partner-bronze::before {
  content: '4';
}

.partner-platinum .tool-tip-text::before {
  content: 'Platinum partner'
}

.partner-gold .tool-tip-text::before {
  content: 'Gold partner'
}

.partner-silver .tool-tip-text::before {
  content: 'Silver partner'
}

.partner-bronze .tool-tip-text::before {
  content: 'Bronze partner'
}

.chartjs-hidden-iframe {
  display: none;
}

#myChart {
  width: auto;
  height: 100%;
  top: -90px;
}

.legenda-container {
  position: absolute;
  width: 16vw;
  left: 2rem;
  top: 2rem;
}

.inactive {
  -webkit-animation: slide-out-down 1s;
  animation: slide-out-down 1s;
  visibility: hidden;
}

.active {
  display: block;
}


/*------------------Media Queries-----------------------*/

@media screen and (max-width: 84.250em) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
  .container__radarChart {
    width: 70vw;
    padding: 9vw;
    margin-top: 7rem;
  }
  @-moz-document url-prefix() {
    .container__radarChart.catagory {
      width: 70vw;
    }
  }
}

@media screen and (max-width: 61.250em) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
    overflow: auto;
    overflow-x: hidden;
    padding-right: 1rem;
  }
  .legenda-container {
    position: static;
    width: 30vw;
    left: 2rem;
    top: 2rem;
  }
  .container__text {
    margin-top: 8rem;
    padding-right: 2rem;
  }
  .container__radarChart {
    width: 100vw;
    padding: 0;
    padding-right: 15vw;
    padding-left: 6vw;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .container__radarChart.catagory {
    width: 95%;
    margin-left: -9px;
    margin-top: -10px;
  }
  .container__text {
    margin-top: 0;
    height: 100%;
  }
}


/*------------------Animation---------------------------*/

@-webkit-keyframes slide-in-right {
  from {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slide-in-right {
  from {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  from {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slide-in-down {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-in-up {
  from {
    -webkit-transform: translateY(-110vh);
    transform: translateY(-100vh);
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes slide-in-up {
  from {
    -webkit-transform: translateY(-110vh);
    transform: translateY(-110vh);
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes slide-in-down {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-out-down {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@keyframes slide-out-down {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
  }
}

@-webkit-keyframes slide-out-up {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translate(100vh);
    transform: translate(100vh);
  }
}

@keyframes slide-out-up {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translate(60vh);
    transform: translate(60vh);
  }
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
